

<p-toast></p-toast>
<div class="registro-container">
  <div class="cajaRegistro">
    <div class="titleregistro">
      <h1>REGISTRATE</h1>
    </div>
    <form [formGroup]="FormRegistro" >
      <div class="nombre">
            <input class="form-control" formControlName="nombre" type="text" placeholder="Ingresa tu nombre">
            <input  class="form-control" formControlName="apellido" type="text" placeholder="Ingresa apellido">
      </div>
      <input formControlName="username" class="form-control" type="text" placeholder="usuario@sistema.com ">
      <input formControlName="password" class="form-control" type="password" placeholder="Ingrese su clave">
      <button class="btn btn-md btn-primary btn-style" (click)="guardar()">Login
      </button>
    </form>
  </div>
</div>
