<div class="realme-container">


  <div class="detalles-container">
    <div class="producto-container">
      <div class="producto-img">
        <img src="assets/rea.jpg" alt="">
      </div>
      <div class="producto-detalles">
        <div class="producto-caracteristicas">
          <h2 class="nombre-producto">realme 9</h2>
          <h2 class="descripcion">La textura ondulada y dinámica en 3D que cubre realme 9 se debe a sus innovadores procesos de nanoimpresión con UV y su capa exterior de Plasma Atom.</h2>
          <div class="detalles-caja">
            <h3 class="deta" ><strong>PROCESADOR:</strong> SnapDragon 680</h3>
            <h3 class="deta"><strong>RAM:</strong> 8GB</h3>
            <h3 class="deta"><strong>ALMACENAMIENTO:</strong> 128 GB </h3>
            <h3 class="deta"><strong>PANTALLA: </strong> Super Amoled de 90 HZ</h3>
            <h3 class="deta"><strong>BATERIA: </strong> 5000 mha</h3>
            <h3 class="deta"><strong>CAMARA: </strong> Prolight de 108 MP</h3>
          </div>
        </div>
        <div class="producto-precio">
          <h1>PRECIO:</h1>
          <h1>s/.1300</h1>
          <button (click)="redirigir()" >Cotizar</button>
        </div>

      </div>
    </div>
  </div>
</div>
