.container-smartphones{
  width: 98.9vw;

}
.container-banner{
  height: 600px;
  padding-top: 7.2em;
  width: 98vw;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.container-telefonos{
  display: flex;
  justify-content: center;
  width: 98vw;

 ;
}
.container-detalles{
  padding: 2em 4em;
  width: 80vw;
}
.telefono-img img {
  width: 100%;
}

.telefonos {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 85vw;
}
.telefono-content{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display:flex;
  width: 40%;
  padding: 2em 4em;
}
.telefono-detalles{
  width:50%;


}
.telefono-img{
  width: 50%;

}
.nombre-telefono{
  font-weight: 700;
}
.descripcion-telefono{
  font-weight: 400;
  font-size: 14px;
}
.precio-telefono{
  font-size: 20px;
  padding: .3em 0;
  width: 120px;
  border-radius: 50px;
  background: #0984e3;
  color: white;
  text-align: center;
}
 a{
  text-decoration: none;
}
.cotiza-telefono {

  font-weight: 700;
  font-size: 20px;
  padding: .3em 1.6em;
  border-radius: 30px;
  background: #ffca00;
  color: #212538;
  text-align: center;
}
.telefono-content:hover{
  border: 1px solid white;
}
