
<nav>
  <div class="up-container">
  <ul class="up-menu">
    <li><i class="fa-solid fa-phone"></i> (01) 4738422</li>
    <li><i class="fa-solid fa-envelope"></i> Ventas@realme.com.pe</li>
  </ul>
  </div>
  <div class="container">
    <div class="logo"><a href="#"><img src="assets/realme.png" alt=""></a></div>
    <input type="radio" name="slider" id="menu-btn">
    <input type="radio" name="slider" id="close-btn">
    <ul class="nav-menu">
      <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
      <li><a href="#"  (click)="closeMenu()">Inicio</a></li>
      <li><a (click)="RedigirSmartphones();closeMenu()">Smartphones </a></li>
      <li><a (click)="RedigirAccesorios();closeMenu() " >Accesorios</a></li>
      <div class="login" *ngIf="!logeado;else logeados">
        <a (click)="redirigir(); closeMenu()">Ingresar</a>
      </div>
      <ng-template  #logeados>

        <div class="login">
          <a (click)="cerrarSesion()">Cerrar Sesion {{nombreuser}}</a>
        </div>
      </ng-template>

    </ul>
    <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
  </div>
</nav>









